.carousel{
    width: 100%;
}
.carousel-item__left{
    width: 100%;
    background:  #F47C7C;
    color:#FAD4D4;
    position: relative;

}
.carousel-item__left a button{

    background: #FAD4D4;
    border: none;
    border-radius: 30px;
    color: #F47C7C;
    font-size: 25px;
    text-align: center;

}

.carousel-item__left-button{
    position: center;
    background: #F47C7C;
    border: #F47C7C;
    border-radius: 10px;
    font-size: 20px;
    justify-content: center;
    margin: 50px;
}
.carousel-item__right{
    width: 50%;
}
.card{
    border: none;
}
.img-circle{
    border-radius: 50%;
}