@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap%27');

body {
    font-family: "Roboto";
}

.navbar{
    background: #FFF2F2;
}
.navbar-brand{
    color: #F47C7C;
}
.navbar-brand1{
    float: right;
    margin: 0 20px 0 20px;
}
footer {
  background-color: #FFF2F2;
  bottom: 0;
  width: 100%;
  color: #F47C7C;
}
